

.banner-style{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png);
    background-image:;
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    text-decoration: ;
  
    background-repeat: no-repeat;
    
}
.banner-style p{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.banner-style h2{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}